* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

.container {
    width: 90%;
    display: flex;
    height: 90vh;
    margin: 5vh 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.form-section, .preview-section {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;

}

.form-section {
    border-radius: 15px 0 0 15px ;
}

.preview-section {    
    border-left: 2px solid #ccc;
    border-radius: 0px 15px 15px 0px ;

}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"], input[type="file"], textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    font-size: 17px;
    border-radius: 10px;
}

input[type="file"]{
    border: 1px solid;
    border-radius: 50px;
    background-color: #fff;
    padding: 4px;
}
input[type="file"]::-webkit-file-upload-button{
    background-color: #007BFF;
    border: none;
    width: 22%;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
}
textarea {
    resize: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    border-radius: 20px;

}

button:hover {
    background-color: #0056b3;
}

.preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-image {
    width: 30%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.preview-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.preview-text {
    font-size: 16px;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-section, .preview-section {
        width: 100%;
        border: none;
    }
}
